@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');



:root{
    --cor-letra: #FFF;
    --cor-botao: #CFF846;
    --fonte-botao: 'Inter', sans-serif; 
    --fonte-letra: 'Plus Jakarta Sans', sans-serif;
    
}

b{
    color: var(--cor-botao);
    font-family: var(--fonte-letra);
    font-weight: 600;
}

bb{
    color: var(--cor-letra);
    font-weight: 600;
}

::-webkit-scrollbar {
    display: none;
}

.container-fluid, .row, inicio {
    margin: 0;
    padding: 0;
}

.navbar-expand-lg{
    justify-content: space-between;
}



.inicio{
    background: url(./img/fundo-inicio.png) #06021A 50% / cover no-repeat;
    background-position: right;
    width: 100vh;
    height: 100vh;

}

.cabecalho{
    margin: 5vh ;
}

.navegacao{
    border-radius: 24px;
    border: 1px solid #2B189A;
    background: rgba(28, 16, 102, 0.50);
    padding: 24px 48px;
    max-width: 1375px;
    align-items: center;
    text-align: center;
}


.nav-link{
    color: var(--cor-letra);
    font-size: 20px;
    font-family: var(--fonte-letra);
    font-weight: 500;

}

.btn-lg, .btn-lg2, .btn-lg3 {
    text-align: center;
    height: 40px;
    width: 171px;
    padding: 8px 16px ;
    border-radius: 8px;
    background: var(--cor-botao);
    color: #180D59;
    line-height: normal;
    font-family: var(--fonte-botao);
    font-weight: 400;
    
}

.container-inicio{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 30vh;
    gap: 24px;
    width: 515px;
    height: 461px;
}

.titulo{
    color: var(--cor-letra);
    font-family: var(--fonte-letra);
    font-size: 62px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    gap: 0px;
    opacity: 0px;
    
}

.texto{
    color: var(--cor-letra);
    font-family: var(--fonte-letra);
    font-size: 24px;
    font-weight: 400;
}

.btn-lg2{
    width: 236px;
    height: 56px;
    padding: 12px 16px;
}

.fundo{
    background: url(./img/fundo-sala-de-aula.png)  #162766 50% / cover no-repeat;
    background-blend-mode: overlay;
}

.sobre-publico{
    display: grid;
    align-items: center;
    text-align: center;
}

.sub-titulo, .sub-titulo2{
    color: var(--cor-letra);
    font-family: var(--fonte-letra);
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 56px;
}

.espaco-sub{
    margin-top: 192px;
}

.espaco-pub{
    margin-top: 137px;
}

.espaco-card{
    margin-bottom: 191px;
}

.container-sobre{
    height: 396px;
}

.card{
    padding: 56px 40px;
    align-items: start;
    gap: 16px;
    border-radius: 32px;
    margin-left: 56px;
    max-width: 371px;
    height: 500px;
    
}

.card-titulo{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: left 

}

.titulo-card{
    color: #1559A8;
    font-family: var(--fonte-letra);
    font-size: 24px;
    font-style: normal;
    font-weight: 600; 
    width: 141px;
}

.texto-negrito{
    font-weight: 600;
}

.texto-card, texto-rodape{
    color: #000;
    font-family: var(--fonte-letra);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    width: 291px;
    text-align: left 

}

.card-texto label{
    display: block;
    clear: left;
    margin-bottom: 0px;
}

.texto-linha{
    text-decoration-line: underline;
    color: #000;
}

.cor-fundo{
    background-color: #162766;
}

#programacao{
    border-radius: 80px;
    background: #F6F9FF;
}

.sub-titulo2{
    color: #031447;
    padding-bottom: 71px;

}

.espaco-prog{
    margin: 150px auto auto auto ;
    
}

.sub-cor{
    color: #1559A8;
}

.container-programacao{
    justify-content: center;
    display: grid;
    align-items: center;
}

.titulo-programacao{
    font-size: 24px;
    color: #031447;
    font-family: var(--fonte-letra);
    font-weight: 600;
    margin-bottom: 80px ;
}

.sessao{
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}

.listra, .listra-bnc{
    width: 90%;
    border: 1px solid #000;
    margin-bottom: 80px;
}

.btn-lg3{
    display: table;
    margin-bottom: 151px;
    width: 454px ;
    height: 24px ;
    padding: 16px;
}

.rodape, #copyright{
    background-color: #162766;
    padding-bottom: 124px;
}

.lado-redes, .lado-info{
    margin-top: 77px;
}

.container-sociais, .container-contato, .container-local{
    width: 80%;
}

.texto-rodape{
    font-size: 16px;
    color: #FFF;
}

.container-contato, .container-local{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.container-contato, .container-sociais{
    margin-bottom: 35px;
}

.icones{
    gap: 16px;
}

.container-copy{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listra-bnc{
    border-color: #FFF;
    margin-bottom: 22px;
}

@media (max-width: 1055px){

    .espaco-card{
        display: inline-block;
    }

    .card{
        margin-bottom: 32px;
        
    }

    .texto-rodape{
        font-size: 16px;
        color: #FFF;
    }

    .texto-rodape{
        font-size: 12px;
    }

    .espaco-pub{
        font-size: 30px;
    }
    
}


@media (max-width: 600px){
    body, html, .container, .row, .col-4, .lado-redes, .lado-info {
        margin: 0;
        padding: 0;
    }
    
    .inicio{
        background: url(./img/fundo-mobal.png) #06021A 50% / cover no-repeat;
        background-position: left;
        
    }

    .cabecalho{
        margin: 0px ;
    }
    
    .navegacao{
        border-radius: 0px;
        border: 0px;
    }
    
    
    .nav-link{
        display: none;
    }

    .btn-lg{
        display: none;
    }

    .btn-lg2, .btn-lg3 {
        height: 15px;
        width: 124px;
        font-size: 12px;
    }

    .container-inicio{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 30vh;
        gap: 4px;
        max-width: 297px;

    }
    
    .titulo{
        color: var(--cor-letra);
        font-family: var(--fonte-letra);
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        gap: 0px;
        opacity: 0px;
        
    }
    
    .texto{
        color: var(--cor-letra);
        font-family: var(--fonte-letra);
        font-size: 12px;
        font-weight: 400;
    }



}

